{% extends "::base.html.twig" %}

{% block title %}AppBundle:Admin:index{% endblock %}

{% block body %}
    <row>
        <div class="col-md-12">
            <div class="col-md-8">
                <h1>Admin Panel</h1>
            </div>
            <div class="col-md-8">
                <div class="col-md-3">
                    <a href="{{ path('admin_news_list') }}" class="btn btn-success">{{ 'News Management' }}</a>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('homepage') }}" class="btn btn-info">{{ 'Back to news' }}</a>
                </div>

            </div>

        </div>
    </row>
{% endblock %}
